*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #feebe2;
  font-size: 30px;
  padding-left:2;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}


.title {
  margin-top:30px;
  text-align:center;
}

img {
object-fit: cover;
}


a:visited {
  color: #000060;
}



.intro-pic{
  margin-top: 10px;
}

.description {
  text-align:justify;
  font-size:20px;
  line-height:1.25;
  width:900px;
  float:left;
}

.description-pic {
  float:left;
  margin:40px;
  object-fit: cover;
}

.button {
  position:relative;
  top:20px;
  left: 60%;
  border: none;
  color: white;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-family: 'Raleway',sans-serif;
  font-variant: normal;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 8px;
  background-color: #FF3C5F; /* Yellow */
  margin-right: 20px;
  box-shadow: px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.button:hover{color:#fff!important;background-color:#49006a!important}



.button-next {
  position:relative;
  left: 60%;
  top:20px;
  border: none;
  color: white;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-family: 'Raleway',sans-serif;
  font-variant: normal;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 8px;
  background-color: #5d5ac7; /* Yellow */
  margin-right: 20px;
  box-shadow: px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.button-next:hover{color:#fff!important;background-color:#c98b04!important}



.banner {
  position: fixed;
  width: 100%;
  height: 10%;
  left: 0px;
  top: 0px;
  background: #f7a3e7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index:100;
}

.banner h1{
  left: 3%;
  right: 60%;
  font-size: 40px;
  position: absolute;
  top: 20%;
  color: white;
  z-index: 100;
}

#map {
  position: absolute;
  right: 40%;
  width: 66%;
  height: 100%;
  bottom: 0;
  z-index: 5;
}


.sidebar {
  position: relative;
  z-index: 200;
  left: 40%;
  width: 20%;
  height: 90%;
  top: 10%;
  overflow-y: scroll;
  opacity: 0.85;
  padding: 20px;
  font-size: 16px;
  background-image: linear-gradient(rgb(240, 39, 133), rgb(250, 115, 74));
  color: #ffffff;
}



.card-continer{
  position: relative;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  width: 91%;
  height: 28%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0%;
  margin-top: 4%;
  margin-left: 4%;
}

.card-continer .card {
  position: relative;
  width: 100%;
  height: 92%;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 5px;
  margin-top: 10px;
}

/* the line */
.card-continer .card ul {
  z-index: 100;
  position: absolute;
  left: -1px;
  top: 0px;
  list-style-type: none;
}


.card-continer .card p {
    z-index: 101;
    position: absolute;
    top: 30px;
    right: 18px;
    color: #333;
    opacity: 0.7;
    font-size: 12px;
    letter-spacing: 0px;
    writing-mode: horizontal-tb;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* word */
.card-continer .card h2 {
  top:4px;
  left: 3.5%;
  z-index: 101;
  font-family: "Poppins", sans-serif;
  position: relative;
  bottom: 0;
  right: 21%;
  font-size: 25px;
  text-align: left;
  font-weight: 700;
  color: #333;
}

.card-continer .card button {
    position:absolute;
    right: 10px;
    bottom: 10px;
    top: 60px;
    width: 20px;
    height: 20px;
    background-color: #DA4D1D;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    mix-blend-mode: hard-light;
    z-index: 200;
}

.card-continer .card {
  display: flex;
  height: 280px;
  width: 220px;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #4d004d;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:hover {
  transform: translateY(-10px);
  transition: 0.4s ease-out;
}


/*Resources*/
.tiles {
  display: inline-grid;
  float:right;
  position: absolute;
  z-index: 200;
  left: 60%;
  width: 40%;
  height: 90%;
  top: 10%;
  border-style: dashed;
  font-size: 16px;
  color: #fff7f3;
  background-color:#fde0dd;
}



.resources h2 {
  top:4px;
  left: 9%;
  z-index: 101;
  position: relative;
  bottom: 0;
  right: 21%;
  font-size: 25px;
  text-align: left;
  font-weight: 700;
  color: #333;
}

.resources p {
  position:relative;
    z-index: 101;
    color: #333;
    margin-left: 3.5%;
    opacity: 0.7;
    font-size: 12px;
    letter-spacing: 0px;
}


/*resources-headers*/
.circle {
  margin:10px;
  position:absolute;
  display: flex;
  margin:auto;
  margin-top: 8px;
  left: calc(10% - 10px);
}

.tile-header {
  display: inline-flex;
  box-shadow: 0 4px 8px 0 rgba(77, 0, 77, 0.2);
  margin: auto;
  text-align: left;
  font-family: arial;
  width:90%;
  height:230px;
  background-color: #fff7f3;
}


.tile-card{
  display: inline-grid;
  left:33px;
  margin:10px;
  position:absolute;
  display: flex;
  margin:auto;
}

.tile-each-card {
  top:35px;
  margin:10px;
  border:10px;
  position:relative;
  display: flex;
  box-shadow: 2px 2px 2px 1px rgba(102, 0, 102, 0.5);
  transition: 0.4s ease-out;
}


.animal_title {
  display: inline-block;
  padding: 6px 0;
  position: absolute;
  text-align: center;
  width: 100%;
  background-color: rgba(255, 230, 255, 0.8);
  color: #333;
  opacity: 0.7;
  font-weight: 300;
  top: 80%;
  font-size:20px;
  z-index: 400;
}

.animal_title:before {
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.animal_title:hover {
 background-position: 0;
}

.animal_title:hover::before {
  width:100%;
}



/*bar,circle,title resources*/
.bar-ani {
  position: absolute;
    margin-top: 34px;
    margin-left: 10px;
    height: 3px;
    width: 86%;
}

.emptybar {
  background-color: #49006a;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 350;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(255, 153, 51,1) 0%, rgba(153, 0, 153,1) 65%, rgba(255, 102, 102,1) 100%);
  transition: 0.6s ease-out;
}

.tiles:hover .filledbar {
  width: 100%;
  transition: 0.4s ease-out;
}


svg {
  fill: #c51b8a;
  stroke-width: 2px;
}
