*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #feebe2;
  font-size: 30px;
  padding-left:2;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}


.title {
  margin-top:30px;
  text-align:center;
}

img {
object-fit: cover;
}

.intro-pic{
  margin-top: 10px;
}

.description {
  text-align:justify;
  font-size:20px;
  line-height:1.25;
  width:900px;
  float:left;
}

.description-pic {
  float:left;
  margin:40px;
  object-fit: cover;
}

.button {
  position:relative;
  top:20px;
  left: 60%;
  border: none;
  color: white;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-family: 'Raleway',sans-serif;
  font-variant: normal;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 8px;
  background-color: #FF3C5F; /* Yellow */
  margin-right: 20px;
  box-shadow: px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.button:hover{color:#fff!important;background-color:#49006a!important}



.button-next {
  position:relative;
  left: 60%;
  top:20px;
  border: none;
  color: white;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-family: 'Raleway',sans-serif;
  font-variant: normal;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 8px;
  background-color: #5d5ac7; /* Yellow */
  margin-right: 20px;
  box-shadow: px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.button-next:hover{color:#fff!important;background-color:#c98b04!important}



.banner {
  position: fixed;
  width: 100%;
  height: 10%;
  left: 0px;
  top: 0px;
  background: #f7a3e7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index:100;
}

.banner h1{
  left: 3%;
  right: 60%;
  font-size: 40px;
  position: absolute;
  top: 20%;
  color: white;
  z-index: 100;
}

#map {
  position: absolute;
  right: 40%;
  width: 66%;
  height: 100%;
  bottom: 0;
  z-index: 5;
}


.sidebar {
  position: relative;
  z-index: 200;
  left: 40%;
  width: 20%;
  height: 90%;
  top: 10%;
  overflow-y: scroll;
  opacity: 0.75;
  padding: 20px;
  font-size: 16px;
  background-image: linear-gradient(rgb(240, 39, 133), rgb(250, 115, 74));
  color: #ffffff;
}



.card-continer{
  position: relative;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  width: 91%;
  height: 33%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0%;
  margin-top: 4%;
  margin-left: 4%;
}

.card-continer .card {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 5%;
  margin-top: 5%;
}

/* the line */
.card-continer .card ul {
  z-index: 100;
  position: absolute;
  left: -1px;
  top: 0px;
  list-style-type: none;
}


.card-continer .card p {
    z-index: 101;
    position: absolute;
    top: 7px;
    right: 18px;
    color: #333;
    opacity: 0.7;
    font-size: 12px;
    letter-spacing: 0px;
    writing-mode: vertical-lr;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* word */
.card-continer .card h2 {
  left: 3%;
  z-index: 101;
  font-family: "Poppins", sans-serif;
  position: relative;
  bottom: 0;
  right: 21%;
  font-size: 25px;
  text-align: left;
  font-weight: 700;
  color: #333;

}
